/* General */
body {
	margin: 0px;	
	background-color: #F3F3F3;
	font-family: 'Open Sans', sans-serif;
}

.orangebar {
	height: 44px;
	background-color: #f25433
}

.todo, .todotitle, .todobody, nav ul, nav ul li a {	
	float:left;
}

/*  Navigation */
nav {
	height: 62px;
	font-size: 15px;
}

nav ul {
  width: 100%;	
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav ul li li {
  display: inline;
}

nav ul li a, .delete {
  width: 6em;
  color: #494949;
  padding: 22px;
}

/* Todolist */
.date {
	font-size: 10px;
}

.todo {	
	width: 320px;
	margin: 0px;
	margin-bottom: 40px;
}

.todotitle {
	width: 200px;
	margin-top: 43px;
	margin-left: 40px;
	margin-right: 40px;	
	padding: 20px;
	background-color: #fff;
	box-shadow: 0px 2px 1px #E2E2E2;
}

.todobody {
	width:200px;
	margin: 0px;
	margin-left: 30px;
	position: relative;	
	padding: 10px 30px;	
	background-color: #fff;
	box-shadow: 0px 2px 3px #E2E2E2;
}

#content > div:nth-of-type(1)  {
	height: 200px;
	width: 300px;
	font-size: 25px;
}

/*  Delete */
.delete {
  margin-top: 4px;
  font-size: 10px;
  cursor: pointer;  
  padding:0!important;
  border:none; 
  background:none!important;
  margin-bottom: 0px;
}

.delete:hover, a {
	text-decoration: none;
  color: #f25433;
}

.deletefrom {
	width: 60px;
	margin: 0px;
}
/* Various Pages */
.title {
	color: #f25433;
	font-size: 25px;
	font-weight: 800;
}

.text {
	width: 250px;
	padding: 50px;
}

.content {
	margin: 50px;
}

.smalltitle, p {
	font-size: 15px;
}

h3 {
	margin: 0px;
}
