<div class="row">
  <div class="col-xs-12">
    <div class="list-group">
      <% @cards.each do |card| %>
        <a href="/cards/<%= card.id %>" class="list-group-item list-group-item-custom">
          <span class="row">
            <span class="col-xs-5"><%= card.name %></span>
            <span class="col-xs-4"><%= card.date %></span>
            <span class="col-xs-3">&euro; <%= card.value ? card.value : 'Not available' %></span>
          </span>
        </a>
      <% end %>
    </div>
  </div>
</div>
