<style>body { background-color: rgb(24,8,97) !important;}</style>
<div class="page-header">
  <h2>New gift card</h2>
</div>
<div class="row">
  <div class="col-xs-12">
    <form action="/cards" method="POST">
      <div class="form-group">
        <label for="cards_company">Company</label>
        <select id="cards_company" name="card[name]" class="form-control">
          <option value="expert">Expert</option>
          <option value="mediamarkt">MediaMarkt</option>
        </select>
      </div>
      <div class="form-group">
        <label for="cards_code">Code</label>
        <input type="text" class="form-control" id="cards_code" name="card[code]">
        <p class="help-block small">This is the code on your card, this can be a barcode.</p>
      </div>
      <div class="form-group">
        <label for="cards_code">Security code</label>
        <input type="text" class="form-control" id="cards_code" name="card[scnd_code]">
        <p class="help-block small">We will only use this security code for checking expire date and amount</p>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-custom btn-block">Add gift card</button>
      </div>
    </form>
  </div>
</div>
