<div class="page-header">
  <h2>Add gift card</h2>
</div>
<div class="row">
  <div class="col-xs-12">
    <form action="/cards" method="POST">
      <div class="form-group">
        <label for="cards_company">Company</label>
        <select id="cards_company" name="card[name]" class="form-control">
          <option value="expert">Expert</option>
          <option value="mediamarkt">Mediamarkt</option>
        </select>
      </div>
      <div class="form-group">
        <label for="cards_code">Code</label>
        <input type="text" class="form-control" id="cards_code" name="card[code]">
        <p class="help-block">You need the code you find on your card</p>
      </div>
      <div class="form-group">
        <label for="cards_code">Scnd code</label>
        <input type="text" class="form-control" id="cards_code" name="card[scnd_code]">
        <p class="help-block">You need the code you find on your card</p>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add gift card</button>
      </div>
    </form>
  </div>
</div>

